<html>
<head>
    <title>SQL Conformance</title>
</head>

<body>
    <h1>Summary</h1>

    <table border='1' cellpadding='3' cellspacing='0' width='100%' bordercolor='grey'>
        <tr>
            <td>Database Name</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>Database Version</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>Mandatory Features</td>
            <td>0 of {{ len(features['mandatory']) }} (0%)</td>
        </tr>
        <tr>
            <td>Optional Features</td>
            <td>0 of {{ len(features['optional']) }} (0%)</td>
        </tr>
        <tr>
            <td>All Tests</td>
            <td>{{ total_passed }} of {{ total_tests }} ({{ total_passed / total_tests * 100 }}%)</td>
        </tr>
    </table>

    <h1>Mandatory Features ({{ len(features['mandatory']) }})</h1>

    <table border='1' cellpadding='3' cellspacing='0' width='100%' bordercolor='grey'>
        <tr>
            <th>Feature ID</th>
            <th>Tests</th>
            <th>Description</th>
        </tr>
        {% for feature in features['mandatory'] %}
        <tr>
            <td>{{ feature.id }}</td>
            <td bgcolor="{{ feature.color }}">{{ feature.percent }}</td>
            <td>{{ feature.description }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Optional Features ({{ len(features['optional']) }})</h1>

    <table border='1' cellpadding='3' cellspacing='0' width='100%' bordercolor='grey'>
        <tr>
            <th>Feature ID</th>
            <th>Tests</th>
            <th>Description</th>
        </tr>
        {% for feature in features['optional'] %}
        <tr>
            <td>{{ feature.id }}</td>
            <td bgcolor="{{ feature.color }}">{{ feature.percent }}</td>
            <td>{{ feature.description }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
