<html>
<head>
    <title>SQL Conformance</title>
</head>

<body>
    <h1>Summary</h1>

    <table border='1' cellpadding='3' cellspacing='0' width='100%' bordercolor='grey'>
        <tr>
            <td>Database Name</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>Database Version</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>Mandatory Features</td>
            <td>0 of {{ len(features['mandatory']) }} (0%)</td>
        </tr>
        <tr>
            <td>Optional Features</td>
            <td>0 of {{ len(features['optional']) }} (0%)</td>
        </tr>
        <tr>
            <td>All Tests</td>
            <td>{{ total_passed }} of {{ total_tests }} ({{ int(total_passed / total_tests * 100) }}%)</td>
        </tr>
    </table>

    {% for category in ('mandatory', 'optional') %}
        <h1>{{ category[0].upper() + category[1:] }} Features ({{ len(features[category]) }})</h1>

        <table border='1' cellpadding='3' cellspacing='0' width='100%' bordercolor='grey'>
            <tr>
                <th nowrap>Feature ID</th>
                <th>Tests</th>
                <th>Description</th>
            </tr>
            {% for feature in features[category] %}
            <tr style="font-weight: {{ 'bold' if feature.id.find('-') < 0 else 'normal' }} ">
                <td nowrap>{{ feature.id }}</td>
                <td nowrap bgcolor="{{ feature.color }}">{{ feature.percent }}</td>
                <td>{{ feature.description }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body>
</html>
